@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <h1>New Entry</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"><h4>Press the button to export excel data to database :</h4></div>
        <div class="col-md-8">
            <button type="button" class="btn btn-success">Upload</button>
        </div>
    </div>
</div>