@model RegForm.Models.Reg

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Congratualations</title>
</head>
<body>
    <div> 
        <h1>This is the insider page</h1>
        <h2>@Model.Id</h2>
    </div>
</body>
</html>
