@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ness Tech</h1>
    <p class="lead">Our customer experience designers, software engineers, data experts, and business consultants partner with clients to develop roadmaps that identify ongoing opportunities to increase the value of their digital solutions and enterprise systems.</p>
    <p><a href="https://www.ness.com/about-us/" class="btn btn-primary btn-lg">Learn more about us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We are proactive</h2>
        <p>
            We ask insightful questions to ensure we’re working on the right problem statement, and we will suggest alternative approaches to help clients achieve the best possible results.
        </p>
        <p><a class="btn btn-default" href="https://www.ness.com/about-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We operate as a business partner to our clients</h2>
        <p>We take the time to understand our clients’ businesses and deliver solutions that fit their unique needs. Our clients feel we are “in it with them.”</p>
        <p><a class="btn btn-default" href="https://www.ness.com/about-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We utilize the talents of our engineers across the globe to build complex solutions at scale</h2>
        <p>We are experts at building complex solutions at scale, mobilizing talented engineers from around the globe into tightly-integrated teams with the best-fit expertise for our clients’ business needs.</p>
        <p><a class="btn btn-default" href="https://www.ness.com/about-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We have a strong foundation in data analytics</h2>
        <p>Our digital mindset is manifest in the way we design for users and study how they use our digital propositions for continuous improvement. We listen and often challenge a company’s data strategy to ensure they are learning from the truth revealed by data -- to invest more in the areas that will deliver increased business value (and less in areas that do not).</p>
        <p><a class="btn btn-default" href="https://www.ness.com/about-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We are recognized experts in Agile and DevOps development processes</h2>
        <p>Agile is core to how we work, and we ensure positive business outcomes by providing predictability, productivity and quality through defined processes that increase speed-to-value, institutionalize use of Agile practices in a sustainable manner, and include development of roadmaps that increase platform value over time.</p>
        <p><a class="btn btn-default" href="https://www.ness.com/about-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We closely integrate design and development</h2>
        <p>We help clients build the right digital solutions faster by integrating experience and process design, platform engineering and data analytics from the start using our Ness Connected methodology.</p>
        <p><a class="btn btn-default" href="https://www.ness.com/about-us/">Learn more &raquo;</a></p>
    </div>
</div>